@import "headerMobile.css" screen and (max-width: 870px);

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', 'Poppins', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}


body{
    background-color: #050a30;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #5bcba7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all .5s;
}

header div img{
    width: 10vw;
    margin-left: 25px;
}

header > ul {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    margin-right: 100px;
    list-style: none;
}

.headerMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    position: relative;
    color: #050a30;
    font-weight: bold;
}

.navbar a::after{
	content: '';
	width: 0;
    position: absolute;
	height: 3px;
	background: #050a30;
	bottom: -3px;
	left: 0;
	transition: ease .20s;
}

.navbar a:hover::after{
	width: 100%;
}

#menu{
    border-radius: 0;
    display: none;
}

button#lang {
    border: 3px solid #050a30;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: #050a30;
    color: white;
    font-weight: bold ;
}

button#lang:hover {
    background-color: transparent;
    border: 3px solid #050a30;
    color: #050a30;
    cursor: pointer;
}


.container-home{
    position: relative;
    background-image: url(../img/background-home.png);
    background-size:100% 100%;
    height: 100vh;
    width: 100%;
    animation: mymove 7s infinite;
}

.home-img img {
    width: 230px;
    height: 230px;
    border: 2px solid #5bcba7;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    animation: anim-photo 3s infinite;
}

.home-img {
    width: 234px;
    height: 234px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 6fr 6fr 2fr;
    height: 260px;
}

.home-text{
    color: white;
    position: relative;
    box-sizing: content-box;
}

.home-text h2{
    font-size: 35px;
}

.home-text h1{
    font-size: 45px;
}

.home-text span{
   color: #5bcba7;
}

.social{
    margin-top: 15px;
    width: 220px;
    display: flex;
    justify-content: space-between;

}

.social a{
	width: 40px;
	height: 40px;
    border-radius: 50%;
	display: inline-flex;
    justify-content: center;
    align-items: center;
	background: #5bcba7;
	font-size: 17px;
}

.social img{
    width: 30px;
    height:30px;
}

.social a:hover{
    background-color: bisque;
    transform: scale(1.3);
    transition: all 0.3s ease;
}

.home-text > span{
    color: #050a30;
    font-weight: 500;
    padding: 10px 25px;
    background-color: #5bcba7;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
}

.home-text > span:hover{
    cursor:help;
    background-color: bisque;
}

::selection {
    background-color: #5bcba7;
}

@keyframes mymove {
    50% {background-size: 101% 101%;}
}  

@keyframes anim-photo {
    50% {top: 36%;}
}

@media only screen and (min-width: 1600px) {

    .container-home{
        background-size:cover;
        animation: none;
    }

    #home {
        height: 320px;
    }

    #logo-noir{
        width: 15vh;
        height: auto;
    }

    .navbar a{
        font-size: 1vw;
    }

    .home-text h1{
        font-size: 70px;
    }

    .home-text h2{
        font-size: 40px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 30px;
    }

    .social a {
        width: 40px;
        height: 40px;
    }
 
    .home-img img {
        width: 240px;
        height: 240px;
    }

    .home-img {
        width: 250px;
        height: 250px;
        margin-left: 270px;
    }

}

@media only screen and (max-width: 990px) {

    @keyframes anim-photo {
        50% {top: 31%;}
    }

    header > ul {
        width: 65vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20vw;
        margin-right: 100px;
        list-style: none;
    }

    #home {
        height: 205px;
    }

    .home-text h1{
        font-size: 35px;
    }

    .home-text h2{
        font-size: 20px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 14px;
    }

    .social{
        width: 190px;
    
    }
    
    .social a{
        width: 35px;
        height: 35px;
    }
    
    .social img{
        width: 25px;
        height:25px;
    }

    .home-img img {
        width: 190px;
        height: 190px;
        top: 34%;
    }

    .home-img {
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }

    .home-text span {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 870px) {
    
    @keyframes anim-photo {
        50% {top: 15%;}
    }

    #home{
        height: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-img{
        width: 40%;
        height: 45%;
        margin-left: 0;
    }

    .home-img img{
        top: 18%
    }

    .home-text{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-home{
        position: none;
        background-image: none;
        background-color: #050a30;
        height: 100vh;
        width: 100%;
        animation: none;
    }

    header{
        padding-top: 0px;
        display: block;
        height: 7vh;
        margin: 0;
    }

    #menu{
        height: 20px;
        margin-right: 30px;
        width: auto;
        display: block;
    }

    .headerMobile #logo{
        display: none;
    }

    .headerMobile #logo-noir{
        display: block;
        height: 50%;
        width: auto;
        margin-left: 12px;
    }

    .headerMobile{
        background-color: #5bcba7;
        height: 7vh;
    }

    button#lang {
        background-color: transparent;
        border: 2px solid #5bcba7;
        color: #5bcba7;
    }

    button#lang:hover {
        border: 2px solid #5bcba7;
        color: #5bcba7;
    }

    .navbarMask{
        display: none;
    }

    .canou a {
        color: #5bcba7;
        font-size: 25px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 420px){

    .home-text{
        height: 188px;
    }

    .home-text h1{
        font-size: 25px;
    }

    .home-text h2{
        font-size: 17px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 11px;
    }

    .home-img img {
        width: 140px;
        height: 140px;
        animation: none;
    }

    .home-img{
        width: 40%;
        height: 35%;
    }
}

@media only screen and (max-width: 380px){

    .home-text{
        height: 185px;
    }

    .home-text h1{
        font-size: 28px;
    }

    .home-text h2{
        font-size: 18px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 12px;
    }
}

@media only screen and (max-width: 290px){

    .home-img img {
        width: 160px;
        height: 160px;
    }

    .home-text h1{
        font-size: 18px;
    }

    .home-text h2{
        font-size: 15px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 9px;
    }

    .home-text {
        height: 150px;
    }

    .home-text span {
        padding: 3px 7px;
    }

    .social{
        width: 150px;
    }
    .social a {
        width: 30px;
        height: 30px;
    }

    .social a img {
        width: 20px;
        height: 20px;
    }

    .canou a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 200px){

    .home-img img {
        width: 130px;
        height: 130px;
    }

    .home-text h1{
        font-size: 14px;
    }

    .home-text h2{
        font-size: 11px;
    }

    .home-text h3, .home-text h3 span{
        font-size: 7px;
    }

    .home-text {
        height: 115px;
    }

    .home-text span {
        font-size: 10px;
        padding: 3px 7px;
    }

    .social{
        width: 110px;
    }

    .social a {
        width: 20px;
        height: 20px;
    }
    
    .social a img {
        width: 12px;
        height: 12px;
    }
}




