*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', 'Poppins', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}
header{
    z-index: 1000;
    width: 100%;
    height: 10vh;
    /* background-color:#5bcba7;    /* Change */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    list-style: none;
    padding-top: 70px;   /* Change */
    transition: all .8s;
}

header > img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-left: 25px;
}

header > ul {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    margin-right: 100px;
    list-style: none;
}
.navbar a {
    /* color:#050a30; */   /* Change */
    color: #5bcba7;
    font-weight: bold;
}

.navbar a {
    position: relative;
}


.navbar a::after{
	content: '';
	width: 0;
    position: absolute;
	height: 3px;
	background: #050a30;
	bottom: -3px;
	left: 0;
	transition: ease .20s;
}
.navbar a:hover::after{
	width: 100%;
}

button#lang {
    /* border: 3px solid #050a30;  /* Change */
    border: 3px solid #5bcba7;
    color: #5bcba7;   /* Change */
    border-radius: 5px;
    padding: 7px 20px;
    background-color: transparent;
    font-weight: bold ;
}

button#lang:hover {
    background-color: #050a30;
    color: #ffffff;
    cursor: pointer;
}

::selection {
    background-color: #5bcba7;
}

footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #050a30;
    color: #ffffff;
}

.contact{
    margin: 30px auto 60px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.contact a{
	width: 60px;
	height: 60px;
    border-radius: 50%;
	display: inline-flex;
    justify-content: center;
    align-items: center;
	background: #5bcba7;
}

.contact img{
    width: 35px;
    height:35px;
}

.contact a:hover{
    background-color: bisque;
    transform: scale(1.3);
    transition: all 0.3s ease;
}

footer span{
    text-decoration-line: underline;
}

footer span:hover{
    text-decoration-line: underline;
    /* text-decoration-style: wavy; */
    animation: mycan 0.1s infinite;
}

.container{
    padding-top: 25vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 110vh;
    color: #ffffff;
    background-color:#050a30;
    text-align: center;
    font-weight: 10;
}

.text{
    background-color: brown;
}

.icones{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.icones img {
    width: 100px;
}

.container div{
    align-self: flex-start;
    text-align: start;
    color: white;
}

.container h1{
    font-size: 80px;
}

.container p{
    font-size: 20px;
}

.container span{
    font-size: 20px;
}

@keyframes mycan {
    50% {text-decoration-style: wavy;}
}