@import "config.css";
@import "about-projects.css";

.container{
    padding-top: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: 110vh;
    color: #ffffff;
    background-color:#050a30;
    font-weight: 10;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap : 80px;
    row-gap: 40px;
}

.icones img {
    width: 80px;
}

.container div{
    align-self: flex-start;
    text-align: start;
    color: white;
}

.container h1{
    font-size: 80px;
}

.container p{
    font-size: 20px;
}

.container span{
    font-size: 20px;
}

.projects{
    margin-top: 100px;
    background-color: #050a3007;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.project-bloc{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
    background-color: #fafafa;
    transition: all .3s;
    height: auto;
}

.project-bloc:hover{
    transform: translateY(-30px);
}

.bloc-description {
    padding: 15px;
    text-align: justify;
}

.bloc-description h1 {
    padding-bottom: 10px;
    font-size: 22px;
}


.bloc-img img{
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.bloc-description button{
    font-size: 1.1em;
    width: 100%;
    background-color: #050a30;
    color: #ffffff;
    padding: 8px ;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
}

.bloc-description button:hover{
    background-color: #050a308f;
    color: #fff;
    cursor: pointer;
}

body > h1{
    text-align: center;
    margin-top: 130px;
    font-size: 45px;
}

body > h1 span{padding: 1px 14px;
    background-color: #050a30;
    color: #fafafa;
}

@media only screen and (min-width: 1600px) {

    .text div h1{
        font-size: 100px;
    }  

    .icones img {
        width: 90px;
    }
}

@media only screen and (max-width: 1194px) {

    .text div h1{
        font-size: 60px;
    }  

    .icones img {
        width: 60px;
    }

    body > h1{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 990px) {

    header > ul {
        width: 60vw;
        margin-right: 60px;
    }
}

@media only screen and (max-width: 870px) {

    .container {
        height: auto;
        padding-bottom: 100px;
    }
    
    .text div h1{
        font-size: 60px;
    }  

    .icones img {
        width: 60px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 420px) {

    .container{
        padding-top: 18vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110vh;
        font-weight: 10;
    }

    .container > div {
        align-self: center;
    }

    .text div h1{
        font-size: 50px;
    }  

    .icones img {
        width: 55px;
        margin-top: 50px;
    }

    .icones div{
        column-gap : 50px;
        row-gap: 5px;
    }

    body > h1 {
        font-size: 30px;
    }
}