*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', 'Poppins', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}
header{
    z-index: 1000;
    width: 100%;
    height: 12vh;
    /* background-color:#5bcba7;    /* Change */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    list-style: none;
    padding-top: 70px;   /* Change */
    transition: all .5s;
}

header div img{
    width: 10vw;
    margin-left: 25px;
}

header > ul {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    margin-right: 100px;
    list-style: none;
}

.headerMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #5bcba7;
    font-weight: bold;
}

.navbar a {
    position: relative;
}

.navbar a::after{
	content: '';
	width: 0;
    position: absolute;
	height: 3px;
	background: #050a30;
	bottom: -3px;
	left: 0;
	transition: ease .20s;
}
.navbar a:hover::after{
	width: 100%;
}

#menu{
    border-radius: 0;
    display: none;
}

.headerMobile #logo-noir{
    display: none;
}

button#lang {
    border: 3px solid #050a30;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: #050a30;
    color: white;
    font-weight: bold ;
}

button#lang:hover {
    background-color: transparent;
    border: 3px solid #050a30;
    color: #050a30;
    cursor: pointer;
}

button#lang {
    border: 3px solid #5bcba7;
    color: #5bcba7;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: transparent;
    font-weight: bold ;
}

button#lang:hover {
    background-color: #050a30;
    color: #ffffff;
    cursor: pointer;
}

::selection {
    background-color: #5bcba7;
}

footer{
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #050a30;
    color: #ffffff;
}

.contact{
    margin: 30px auto 60px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.contact a{
	width: 60px;
	height: 60px;
    border-radius: 50%;
	display: inline-flex;
    justify-content: center;
    align-items: center;
	background: #5bcba7;
}

.contact img{
    width: 35px;
    height:35px;
}

.contact a:hover{
    background-color: bisque;
    transform: scale(1.3);
    transition: all 0.3s ease;
}

footer span{
    text-decoration-line: underline;
}

footer span:hover{
    text-decoration-line: underline;
    /* text-decoration-style: wavy; */
    animation: mycan 0.1s infinite;
}

.container{
    padding-top: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: 110vh;
    color: #ffffff;
    background-color:#050a30;
    font-weight: 10;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text div{
    text-align: center;
}  

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap : 80px;
    row-gap: 40px;
}

.icones img {
    width: 80px;
}

.container div{
    align-self: flex-start;
    text-align: start;
    color: white;
}

.container h1{
    font-size: 80px;
}

.container p{
    font-size: 20px;
}

.container span{
    font-size: 20px;
}

@keyframes mycan {
    50% {text-decoration-style: wavy;}
}

/* ------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------*/

.projects{
    margin-top: 100px;
    background-color: #050a3007;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.project-bloc{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
    background-color: #fafafa;
    transition: all .3s;
    height: auto;
}

.project-bloc:hover{
    transform: translateY(-30px);
}

.bloc-description {
    padding: 15px;
    text-align: justify;
}

.bloc-description h1 {
    padding-bottom: 10px;
    font-size: 22px;
}


.bloc-img img{
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.bloc-description button{
    font-size: 1.1em;
    width: 100%;
    background-color: #050a30;
    color: #ffffff;
    padding: 8px ;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
}

.bloc-description button:hover{
    background-color: #050a308f;
    color: #fff;
    cursor: pointer;
}

body > h1{
    text-align: center;
    margin-top: 130px;
    font-size: 45px;
}

body > h1 span{padding: 1px 14px;
    background-color: #050a30;
    color: #fafafa;
}


@media only screen and (min-width: 1600px) {

    .text div h1{
        font-size: 100px;
    }  

    .icones img {
        width: 90px;
    }
}

@media only screen and (max-width: 1194px) {

    .text div h1{
        font-size: 60px;
    }  

    .icones img {
        width: 60px;
    }

    body > h1{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 990px) {

    header > ul {
        width: 60vw;
        margin-right: 60px;
    }
}

@media only screen and (max-width: 798px) {

    header{
        padding-top: 0px;
        background-color: #5bcba7;
        display: block;
        height: 7vh;
    }
    #menu{
        height: 5vh;
        margin-right: 30px;
        width: auto;
        display: block;
    }
    .headerMobile #logo{
        display: none;
    }
    .headerMobile #logo-noir{
        display: block;
        height: 80%;
        width: auto;
        margin-left: 15px;
    }
    .container {
        height: auto;
        padding-bottom: 100px;
    }
    
    .text div h1{
        font-size: 60px;
    }  

    .icones img {
        width: 60px;
        margin-top: 50px;
    }

    .headerMobile{
        background-color: #5bcba7;
        height: 7vh;
    }

    .canou{
        width: 100vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1;
        row-gap: 40px;
        background-color: white;
        padding: 100px 300px 300px 100px;
        background-color: #050a30;
    }

    .canou a {
        color: #5bcba7;
        font-size: 30px;
        font-weight: bold;
    }

    .navbarMask{
        display: none;
    }

    .navbar a:hover {
        color: #5bcba7;
        font-size: 30px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 420px) {

    .container{
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110vh;
        font-weight: 10;
    }

    .container > div {
        align-self: center;
    }

    .text div h1{
        font-size: 40px;
    }  

    .icones img {
        width: 35px;
        margin-top: 50px;
    }

    .icones div{
        column-gap : 60px;
        row-gap: 30px;
    }

    .navbar a {
        font-size: 20px;
    }

    #menu{
        height: 3.5vh;
    }

    .headerMobile #logo-noir{
        height: 55%;
        margin-left: 12px;
    }

    header{
        height: 6vh;
    }

    .headerMobile{
        height: 6vh;
    }

    body > h1 {
        font-size: 30px;
    }

    .canou{
        row-gap: 2px;
        padding: 50px 50px 50vh 50px;
    }

    footer{
        width: 100%;
        margin-top: 100px;
        padding: 50px;
    }
    
    .contact{
        width: 80%;
    }

    .contact a{
        width: 45px;
        height: 45px;
    }

    
    .contact a img{
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 290px) {

    .container{
        height: 150vh;
        width: 135vw;
    }
    .canou{
        width: 150vw;
        height: 130vh;
    }
}