# -----------------------
# Config URL rewrite
# -----------------------


# Le serveur doit suivre des liens symbolique
Options +FollowSymlinks

# Activation du module de réecriture d'URL
RewriteEngine on


#-----------------------
# Regles de réecriture
#-----------------------

RewriteRule ^home$ index.html
RewriteRule ^en/projects$ en/projects.html
RewriteRule ^en/about$ en/about.html
RewriteRule ^en$ index.html
RewriteRule ^en/$ index.html
RewriteRule ^fr/accueil$ fr/accueil.html
RewriteRule ^fr/$ fr/accueil.html
RewriteRule ^fr$ fr/accueil.html
RewriteRule ^fr/apropos$ fr/apropos.html
RewriteRule ^fr/projets$ fr/projets.html [L]