.portfolio {
  margin: 0 auto;

  h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
  }

  section {
    margin-bottom: 40px;

    h2 {
      font-size: 24px;
      color: var(--primary);
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: gray;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .portfolio {
    padding: 20px;
  }
}
