.title {
  color: var(--primary);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}

.description {
  color: gray;
  font-size: 25px;
  margin-bottom: 40px;
}

.text {
  text-align: center;
  line-height: 35px;
  margin-bottom: 40px;
}

/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 30px;
  }

  .description {
    font-size: 18px;
    text-align: center;
  }

  .text {
    line-height: 28px;
  }

  .moreOnInsta {
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
